<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Card profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- style css modified -->
    <link rel="stylesheet" href="/assets/css/mode.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
  </head>
  <body>

    <!-- navbar bootstrap-->
    <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid">
          <img class="navbar-brand" src="/assets/image/brandwhite.png" width="50px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link text-white " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/project">My Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/testimonial">Testimoni</a>
              </li>
            </ul>
            <div class="d-flex align-center btn-contact">
            <a href="index2" class="btn btn-warning text-white mx-2" type="button">Contact Us</a>
            <div class="light-mode">
                <label for="lightmode" class="toggler">
                    <input type="checkbox" id="lightmode">
                    <span class="ball"></span>
                    <i class="sun"><img src="/assets/image/sun.png" alt=""></i>
                    <i class="moon"><img src="/assets/image/moon.png" alt=""></i>
                </label>
            </div>
            </div>
          </div>
        </div>
      </nav>
    <!-- end navbar -->
<!-- blog event detail -->
<section>
{{.id}}
  <div class="container pt-5 ">
    <div class="row">
      <div class="col-lg-6">
        <img src="/assets/image/9.jpg" alt="" class="w-100">
      </div>
      <div class="col-lg-6 d-flex flex-column">
        <h3>{{.ProjectDetail.Articel}}</h3>
            <span><img src="/assets/image/icons8-date-48.png" alt=""> {{.ProjectDetail.Duration}}</span>
            <span><img src="/assets/image/icons8-delivery-time-48.png" alt=""> 1 month</span>
        <h3>Project</h3>
            <span>{{if .ProjectDetail.CheckBox1}}<img src="/assets/image/icons8-javascript-48.png" alt="">JavaScript{{end}}</span>
            <span>{{if .ProjectDetail.CheckBox2}}<img src="/assets/image/golang-48.png" alt="">Golang{{end}}</span>
            <span>{{if .ProjectDetail.CheckBox3}}<img src="/assets/image/python-48.png" alt="">Python{{end}}</span>
            <span>{{if .ProjectDetail.CheckBox4}}<img src="/assets/image/ava-48.png" alt="">Java{{end}}</span>
      </div>
    </div>
    <article>

      {{.ProjectDetail.Articel}}
    </article>
  </div>
</section>
    <script src="/assets/js/lightmode.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>