*{
    padding: 0;
    margin: 0;
}
form{
    background-color: rgb(223, 223, 223);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form h1{
    padding: 20px;
    text-align: center;
}
.form-contact{
  
    width: 50%;
    height: 100vh;
}
form .form-action .form-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.form-action .form-data label{
    font-weight: bold;
    margin-top: 10px;
}
.form-action .form-data input,
.form-action .form-data select,
.form-action .form-data textarea{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
    border-style: none;
}
.form-action .form-data textarea{
    height: 60px;
}
.form-action .button{
    display: flex;
    justify-content: flex-end;
}
.form-action .button button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(255, 141, 1, 0.884);
}
.form-action .button button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
