nav{
    background-color: rgb(255, 60, 26);
    font-family: 'Kaisei Opti', serif;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    align-items: stretch;
}
nav ul img{
    width: 50px;
    object-fit: contain;
}
nav ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-grow: .5;
    line-height: 65px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav ul li:nth-child(2) a:hover{
    color: rgb(255, 230, 215);
}
nav ul li:nth-child(4) {
    flex-grow: 6;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 40px;
}
nav ul li:nth-child(4) button{
    border-style: none;
    padding: 10px;
    border-radius: 13px;
    background-color: rgb(255, 146, 14);
    font-family: 'Kaisei Opti', serif;
}
nav ul li:nth-child(4) button:hover,
.form-action .button button:hover{
    background-color: rgba(255, 147, 14, 0.856);
}
nav ul li:nth-child(5){

    width: 1%;
}