@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Martel&family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
}

section{
    padding-top: 20px;
    width: 90%;
    margin-inline: auto;
}                